h1 {
	color: blue;
}

td {
	border: 1px dotted blue;
	background-color: white;
}

body {
	background-color: #cccccc;
}

.first {
	border: 1px dotted blue;
	background-color: white;
	padding-top: 8px;
	padding-right: 20px;
	padding-bottom: 15px;
	padding-left: 20px;
	width: 35%;
	text-align: left;

}
.image {
	border: 1px dotted blue;
	background-color: white;
	padding-top: 45px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;

}
.third {
	border: 1px dotted blue;
	background-color: white;
	padding-top: 15px
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	width: 50%;
	margin-top: 10px;
	vertical-align: text-top;
}

h4 {
	text-align: left;
	padding-top: 30px;
}

.copyright {
	text-align: center;
}